*{
    margin: 0;
    padding: 0;
}

.logo{
    height: 55px;
    width: 299px;
    margin: 5px;
}
.body{
    height: auto;
    width: 1000px;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background-color: #ffff;
}
ul{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}
a{
    display: inline;
    float: left;
    
}

a{
    display:flex;
    flex-direction: row;
    padding: 5px;
    color: black;
    text-decoration: none;
}
.box_cont{
    padding: 125px;
    margin: 125px;
}

.social{
    display: flex;
    flex-direction: row;
    float: left;
    align-items: center;
    margin: 5px;
    justify-content: space-between;
}


.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }