@import url('https://fonts.googleapis.com/css2? family= Nanum+Gothic & display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  
  
}
body{
  color: #fff;
  background-color: #000;
  font-family: 'Space Grotesk';
  width: 100%;
  text-decoration: none;
  min-width: 100vw;
  min-height: 100vh;

}
h1,h2,h3,h4,h5,h6{
  font-family: 'botler';
}
h1{
  font-size: 70px;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 26px;
}

.container{
  max-width: 1166px;
  margin: 0 auto;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
header ul{
  padding-left: 0;
}
header ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
header ul li a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}


.banner{
  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  background: url(/habitat-site/img/slide/011.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: flex-end;
}
.link-whats{
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  margin: 5px;
}
.logo{
  
  height: 50px;
  width: 400px;
}
.habitat{
  height: 40px;
  width:400px;
  gap: 32px;
}
.banner .text{
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  padding-bottom: 100px;
}
.banner h1{
  min-width: 100%;
  max-width: 100%;
  line-height: 80px;
  font-weight: 300px;
  margin-bottom: 10px;
}
/*Global Button Style*/
.btn{
  position: relative;
  display: inline-block;
  width: 250px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  z-index: 9;
  margin-top: 50px;
  transition: all ease 0.5s;

}
.btn:before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.301);
  opacity: .9;
  z-index: -1;
  transition: all ease 0.5s;
  border-radius:40px ;
}
.btn:hover{
  color: #fff;
}
.btn:hover:before{
  top: 0;
  height: 100%;
}

.brand-logo{
  padding: 30px 0;
}
.brand-logo-inner{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.valcucine{
  width: 160px;
}
.wolf{
  width: 100px;
}
.subzero{
  width: 130px;
}
.cove{
  width: 100px;
}
.sec1{
  position: relative;
  padding: 80px 0;
}
.se1 h3{
  text-transform: uppercase;
  line-height: 40px;
}
.sec1 p{
  line-height: 32px;
}
.sec1-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;

}
.sec1 .text{
  width: 47%;

}
.sec1 .text-left{
  text-align: right;
}
.sec1 .text-right{
  text-align: left;
}
.sec1:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec1:after{
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec2{
  padding: 60px 0 0;
}
.sec2 h2{
  text-transform: uppercase;
}
.sec2 p{
  line-height: 30px;
}
.sec2-inner{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sec2-inner .img{
  width: auto;
 
}
.sec2-inner .text{
  width: 60%;
  margin-left: -85px;
  z-index: 10;
}
.sec2-container{
  display: flex;
  gap: 32px;
  margin: 15px;
}
.foto{
  width: 620px;
  height: 350px;
  border-radius: 10px;
}
.sec2 .text-inner{
  position: relative;
  margin: 55px 0 0 40px;
  font-size: 19px;
  color: rgba(238, 234, 234, 0.651);
}
.sec2 .text-inner:before{
  content: '';
  position: absolute;
  top: 8px;
  left: -30px;
  width: 1px;
  height: 100%;
  background: linear-gradient(to top, transparent,rgb(190, 189, 189));
}
.left-right-sec:nth-child(even) .text{
  margin-right: -65px;
  text-align: right;
}
.left-right-sec:nth-child(even) .text-inner{
  margin: 60px 100px 0 0;
}
.left-right-sec:nth-child(even) .text-inner:before{
  left: inherit;
  right: -30px;
}
.armentano{
  width: 330px;
  height: 320px;
  padding: 10px;
  border-radius: 35px;
  margin: 5px;
  max-width: 100%;
  max-height: 100%;
}
.sec3{
  padding: 10px 0 0;
  
}
.sec3 h2{
  text-transform: uppercase;
  max-width: 100%;
}
.sec3-slider{
  margin-top: 90px;
  
}
.slick-arrow{
  position: absolute;
  top: -160px;
}
.slick-prev{
  left: inherit;
  right: 180px;
}
.slick-next{
  right: 90px;
}
.sec3-inner-text{
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 100%;
 
}
.btn{
  border-radius: 45px;
}
footer{
  position: relative;
  padding: 70px 0;
  margin: 35px;
}
.footer-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-inner .col{
  padding-right: 70px;
}

footer ul{
  margin-left: 0;
}
footer ul li{
  list-style: none;
  margin-bottom: 30px;
}
footer ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
footer:before{
  content:'';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent,#fff, transparent);
}
footer:after{
  content:'';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent,#fff, transparent);
}
.sec4{
  padding: 100px 0;
}
.sec4 h2{
  text-transform: uppercase;
}
.sec4-boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 90px;
  
}
.box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  min-height: 270px;
  border: 1px solid #fff;
  margin-bottom: 40px;
  overflow: hidden;
  
}
.box h6{
  font-family: 'Space Grotesk';
  font-size: 18px;
  font-weight: 400;

}
.sec4-boxes .img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transform: all ease 1s;
  
}
.box:hover .img{
  opacity: 1;
}
.copyright{
  display: flex;
}
.quadro-sobre{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(128, 122, 122, 0.205);
  width: 100%;
  height: 750px;
  border-radius: 20px;
  justify-content: center;
  padding: 5px;
  
}
.sec4-quadro{
  display: flex;
  flex-direction: row;
  padding: 35px;
  align-items: center;
  
}
.quadro-sobre-filho0{
  display: flex;
  justify-content: center;

  margin: 25px;

  
}
.quadro-sobre-filho{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.quadro-sobre-filho1{
  display: flex;
  justify-content: center;
  
  padding: 60px;
}
.text-sobre-nos{
  display: flex;
  flex-wrap: wrap;
  
  margin: 5px;
  padding: 35px;
  width: 750px;
  
}
.quadro-sobre-filho{
  display:flex;
  align-items: center;
  
  
}
.img-sobre{
  margin: 5px;
  height: 375px;
  width: 550px;
}
.email{
  text-decoration: none;
  color: #fff;
  
}
.street{
  font-family: 'Space Gotensk';
  font-size: 16px;
  font-weight: 400;
}
.desc-banner{
  font-size: 23px;
  font-weight: 400;
}
/*Formulário*/

.arquitetos-box{
  display: flex;
  align-items: center;
  width: 270px;
  height:260px;
  max-width: 100%;
}
.upload{
  width: 260px;
}

.img-box-init{
  width: 350px;
  height: 280px;
}

/*Formulario de contato*/
container-form{
  background-color: aliceblue;
  padding-top: 1%;
}

h1 p{
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  padding-bottom: 5px;
}
h6{
  text-align: center;
}
input, textarea {
  width: 390px;
  padding: 9px;
  border-radius: 12px;
}

.container-form{
  padding-left: 90px;
  padding-top: 50px;
  left: 50%;
  width: 100%;
}

.form-item {
  grid-template-rows: 2%;
  padding-top: 30px;
  left: 55%;
  margin: 8px;
}

button {
  width: 125px;
  position: relative;
  padding: 5px;
  border-radius: 12px;
  margin-top: 15px;
  background-color: #ffffff;
}
.produtos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15%;
  width: 100%;
}
.produtos2{
  display: flex;
  flex-direction: row;
 
  gap: 55px;
}

.form-control{
  padding: 6px;
  border-radius: 12px;
  
}

.container-form2{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  gap: 150px;
}
.obrigado{
  display: flex;
  flex-direction: column;
  padding: 140px;
  align-items: center;
  margin: 25px;
}
.logo-wolf{
  height: 50px;
  padding: 10px;
  margin: 60px;
  margin-left: 67px;
  
}
.logo-subzero{
  height: 50px;
  padding: 10px;
  margin: 59px;
}
.logo-cove{
  height: 50px;
  padding: 10px;
  margin: 59px;
  margin-left: 65px;
}
.logo-valcucine{
  text-align: center;
  height: 60px;
  padding: 10px;
  margin: 40px;
  
}    
.logo-royal{
  height: 110px;
  margin-left: 80px;
  margin-top: 5px;
}

.boxes-container{
  padding-top: 25px;
}

.mapa{
  padding: 19px;
  border-radius: 35px;
}



.img-contato-logo{
  display: inline;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 25px;
}

.img-contato-logo-royal{
height: 50px;
}

.logos-ativos{
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  gap: 9px;
}


@media only screen and (min-width: 900px) and (max-width:1200px){
  section{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:-1;
  }
}