*{
  margin: 0;
  padding: 0;
}
.body{
  display: flex;
  text-align: center;
  width: 1200px;
  height: auto;
  justify-content: space-between;
  max-width: 950px;
}
.logo{
  position: relative;
  height: 75px;
  width: 399px;
  padding: 5px;
  margin: 2px;
 
}
.nav{
  background: #ffff;
}
.nav_bar li a{
  display: inline;
  align-items: inherit;
  text-decoration: none;
  justify-content: space-between;
}
.logo_footer{
  position: relative;
  width: 299px;
  height: 55px;
  padding: 5px;
  margin: 2px;
}
.slide{
  text-align: center;
  height: auto;
  background-color: rgba(58, 57, 57, 0.363);
}
.slide-img{
  width: 1170px;
  height: 455px;
  
  
}

.wrapper{
  display: flex;
  align-items: center;
  margin:15px;
  padding: 5px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.562);


}

.submenu{
  float: left;
  font-size: 15px;
  padding: 5px;
  margin: 0.1rem;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 540;
  
  
}

.text-area{
  text-align: center;
  color: rgba(0, 0, 0, 0.89);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 540;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  font-size: 18px;
  font-weight: 540;
  
}
.arquitetos{  
  padding: 15px;
  width: 195px;
  height: 200px;
  border-radius: 125px;
}
.news{
  padding: 4px;
  margin: 10px;
  height: 185px;
  width: 300px;
  border-radius: 45px;
}
.news-pai{
  text-align: center;
}
.projetos{
  padding: 4px;
  margin: 10px;
  height: 185px;
  width: 300px;
  border-radius: 45px;
}
